<h2>Register for new account</h2>
<form>
  <div class="form-group">
    <label for="firstName">Firstname</label>
    <input type="text" class="form-control" id="firstName" placeholder="Firstname">
  </div>
  <div class="form-group">
    <label for="lastName">Lastname</label>
    <input type="text" class="form-control" id="lastName" placeholder="Lastname">
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
  </div>
  <div class="form-group">
    <label for="addressLine1">Address Line 1</label>
    <input type="password" class="form-control" id="addressLine1" placeholder="Address Line 1">
  </div>
  <div class="form-group">
    <label for="addressLine2">Address Line 2</label>
    <input type="text" class="form-control" id="addressLine2" placeholder="Address Line 2">
  </div>
  <div class="form-group">
    <label for="county">County</label>
    <input type="text" class="form-control" id="county" placeholder="County">
  </div>
  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input type="text" class="form-control" id="postcode" placeholder="Postcode">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
