
<div class="container">
  <h2>My Details</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-xs-2">Firstname</label>
      <div class="col-xs-10">
        <input type="text" name="fName" [(ngModel)]="customer.fName" class="form-control" placeholder="Firstname" 
        readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-2">Lastname</label>
      <div class="col-xs-10">
        <input type="text" name="lName" [(ngModel)]="customer.lName" class="form-control" placeholder="Lastname" 
         readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-2">Email</label>
      <div class="col-xs-10">
        <input type="email" name="email" [(ngModel)]="customer.user.email" class="form-control" placeholder="Email" 
         readonly>
      </div>
    </div>
    <div *ngFor="let address of customer.addresses; let i = index">
    <div class="form-group">
      <label for="addressLine1" class="control-label col-xs-2">Address Line 1</label>
      <div class="col-xs-10">
        <input type="text" name="line1_{{i}}" [(ngModel)]="address.line1" class="form-control" placeholder="Address Line 1" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="addressLine2" class="control-label col-xs-2">Address Line 2</label>
      <div class="col-xs-10">
        <input type="text" name="line2_{{i}}" [(ngModel)]="address.line2" class="form-control" placeholder="Address Line 2" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="county" class="control-label col-xs-2">County</label>
      <div class="col-xs-10">
        <input type="text" name="county_{{i}}" [(ngModel)]="address.county" class="form-control" placeholder="County" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="country" class="control-label col-xs-2">Country</label>
      <div class="col-xs-10">
        <input type="text" name="country_{{i}}" [(ngModel)]="address.country" class="form-control" placeholder="Country" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="postcode" class="control-label col-xs-2">Postcode</label>
      <div class="col-xs-10">
        <input type="text" name="postcode_{{i}}" [(ngModel)]="address.postcode" class="form-control" placeholder="Postcode" readonly>
      </div>
    </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-2"></label>
      <div class="col-xs-10">
        <a class="btn btn-primary" routerLink="/change-address/{{customer.id}}" routerLinkActive="active">Change Address</a>
      </div>
    </div>
  </form>
</div>
